{
  "openapi": "3.1.0",
  "info": {
    "title": "Veyrax API",
    "description": "API for Veyrax integration tools and services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://veyraxapp.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/get-tools": {
      "get": {
        "description": "Returns all available tools for the authenticated user",
        "operationId": "getTools",
        "responses": {
          "200": {
            "description": "Tools response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tool-call/{tool}/{method}": {
      "post": {
        "description": "Executes a specific tool method with the provided parameters",
        "operationId": "toolCall",
        "parameters": [
          {
            "name": "tool",
            "in": "path",
            "description": "The name of the tool to call",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "path",
            "description": "The method of the tool to call",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for the tool method",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Tool call response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Tool or method not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {
      "ToolsResponse": {
        "type": "object",
        "properties": {
          "tools": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            },
            "description": "Map of available tools and their schemas"
          }
        }
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "VEYRAX_API_KEY"
      }
    }
  }
}